.stock_overview_container {
  width: 75.688rem;
  height: 3.875rem;
  display: flex;
  margin: 2.375rem 3.8206rem auto 3.1081rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3.5625rem;
  height: 3.5625rem;
  border-radius: 50%;
}

.logo_symbol_container {
  display: flex;
  gap: 1.1875rem;
  height: 3.5625rem;
}

.symbol_name_container {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  height: 3.5625rem;
}

.stock_overview_name {
  height: 2.0625rem;
  min-width: 7.375rem;
  color: #212121;
  font-family: Roboto;
  font-size: 1.7664rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.stock_overview_symbol {
  color: #848484;
  font-family: Roboto;
  font-size: 1.1574rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.percent_price_update_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
  flex-shrink: 0;
  width: 11.1958rem;
  height: 3.875rem;
  background-color: #848484;
}

.percent_price_container {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  background-color: #46b453;
  color: white;
  border-radius: 6.25rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* padding: 0.1875rem 0.375rem 0.1875rem 0rem; */
  width: 3.6938rem;
  height: 0.8438rem;
}
/* TODO  cannot change padding*/
.change_percent {
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1875rem 0.375rem 0.1875rem 0rem;
  width: 3.6938rem;
  height: 0.8438rem;
  /* font-family: Roboto;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal; */
}

.price {
  font-family: Roboto;
  font-size: 1.747rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 90.625rem) {
  .stock_overview_container {
    width: 21.875rem;
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .logo_symbol_container {
    width: 9.5rem;
    height: 3.0625rem;
  }

  .logo {
    width: 3.0625rem;
    height: 3.0625rem;
  }

  .symbol_name_container {
    width: 9.5rem;
    height: 3.0625rem;
    margin: 0 0.75rem;
  }

  .stock_overview_name {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
  }

  .percent_price_container {
    width: 9.3125rem;
    height: 1.4375rem;
  }

  .change_percent {
    width: 3.6938rem;
    height: 1.4688rem;
  }

  .price {
    font-size: 1.25rem;
    overflow: hidden;
    width: 4.875rem;
  }
}
