.dashboard_title_container {
  width: 98%;
  height: 1.875rem;
  margin: 2.5rem auto 1.938rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard_title {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 1.6022rem;
  margin-top: 0;
}

.title_icon {
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
}
