.search_bar_container {
  width: 424px;
  margin-left: 46px;
}

.search_bar_input_field {
  padding: 0.6875rem 1.3125rem;
  background-color: #f5f7f9;
}

@media screen and (max-width: 90.625rem) {
  .search_bar_container {
    width: 391px;
    margin: 0 auto;
    padding: 11px 21px;
    margin: 29px 20px;
  }
}
