.chart_line {
  width: 80%;
  margin: 1.75rem 1rem 1.25rem 1.125rem;
  border: 1px #e9e9e9 solid;
}

@media screen and (min-width: 1200px) {
  .dashboard_page_container {
    overflow-y: auto;
    /* height: 650vh; */
    background-color: chocolate;
  }
}
