.root_app_main_container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  height: 83.375rem;
}

@media screen and (min-width: 1200px) {
  .root_app_main_container {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
  .root_secondary_container {
    width: 77%;
    /* height: auto; */
  }
}
