.searchbar_container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 88.875rem;
  height: 8.0625rem;
  background-color: white;
}

/* tablet break point */
@media screen and (max-width: 93rem) {
  .searchbar_container {
    width: 47rem;
    height: 6.5rem;
    margin-left: 0.1875rem;
  }
}

@media screen and (max-width: 43rem) {
  .searchbar_container {
    width: 26.875rem;
    height: 8.063rem;
    margin-left: auto;
  }
}
