.searchbar_container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1422px;
  height: 129px;
  background-color: white;
}

@media screen and (max-width: 1450px) {
  .searchbar_container {
    width: 430px;
    height: 129px;
  }
}
