.searchbar_container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 88.875rem;
  height: 8.063rem;
  background-color: white;
}

@media screen and (max-width: 90.625rem) {
  .searchbar_container {
    width: 26.875rem;
    height: 8.063rem;
  }
}
