.navbar_container {
  display: flex;
  flex-direction: column;
  height: 78.5625rem;
  width: 26.875rem;
  background-color: #ffffff;
}

.navbar_logo {
  margin: 3.1875rem 6.75rem 5rem 5.6875rem;
  width: 14.219rem;
  height: 1.426rem;
}

.home_dashboard_container {
  display: flex;
  flex-direction: column;
  width: 9.5625rem;
  height: 41rem;
  gap: 2.5625rem;
  margin: 5rem auto 3.25rem 3.0625rem;
}

.home_and_icon_container {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.dashboard_and_icon_container {
  display: flex;
  align-items: flex-end;
  gap: 0.875rem;
}

.icon {
  width: 2.125rem;
  height: 2.125rem;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}

.home_text {
  width: 3.494rem;
  height: 0.973rem;
}

.dashboard_text {
  width: 6.376rem;
}

.navbar_divider_line {
  margin: 1.3125rem 2.6875rem 2.6875rem 2.625rem;
  width: 21.5625rem;
  height: 0.0625rem;
}

.settings_contact_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 8.9375rem;
  height: 6.5625rem;
  gap: 2.3125rem;
  margin: 3rem auto 16.625rem 3.0625rem;
}

.settings_container {
  gap: 0.875rem;
  display: flex;
  align-items: center;
}

.settings {
  width: 4.629rem;
  height: 1.191rem;
}

.contact_container {
  width: 8.813rem;
  height: 6.563rem;
  display: flex;

  gap: 0.688rem;
}

.contact_us {
  width: 5.996rem;
  height: 0.921rem;
}

@media screen and (max-width: 90.625rem) {
  .navbar_container {
    border-bottom: 0.1875rem solid #ebecf2;
    border-right: none;
    width: 26.875rem;
    height: 8.0625rem;
    flex-shrink: 0;
  }

  .navbar_logo {
    width: 14.4375rem;
    height: 2.1875rem;
    margin: 3.3125rem 10.8125rem auto 1.625rem;
  }

  .home_dashboard_container,
  .navbar_divider_line,
  .settings_contact_container {
    display: none;
  }
}
