.button_group {
  width: 27.313rem;
  height: 1.875rem;
  display: inline-flex;
  align-items: center;
  gap: 1.938rem;
}

@media screen and (max-width: 90.625rem) {
  .button_group {
    width: 20.938rem;
    height: 1.875rem;
    margin: 1.563rem;
  }
}
