.button_group {
  gap: 1.9375rem;
  width: 20.938rem;
  height: 1.875rem;
  display: inline-flex;
  align-items: center;
  margin-bottom: 2.3125rem;
}

@media screen and (min-width: 1200px) {
  .button_group {
    gap: 1.9375rem;
    width: 27.3125rem;
    margin: 0.1875rem 1rem auto 1rem;
  }
}
