.button_group {
  width: 27.3125rem;
  height: 1.875rem;
  display: inline-flex;
  align-items: center;
  gap: 1.9375rem;
  margin-bottom: 2.3125rem;
}

@media screen and (max-width: 90.625rem) {
  .button_group {
    width: 20.938rem;
    height: 1.875rem;
    margin: 1.563rem;
  }
}
